<a href="https://colab.research.google.com/github/okuraseki/CursoEDA/blob/main/operaciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
lista = [1,2]
lista

[1, 2]

In [3]:
lista * 2  # esto lo que hace es multiplica la lista, osea suma lista + lista

[1, 2, 1, 2]

In [5]:
# si lo que queremos es multplicar cada valor x 2 vamos a ver como hacerlo con numpy
arr = np.arange(0,10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [6]:
arr2 = arr.copy()
arr2

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [9]:
# Aqui con el array tiene la posibilidad de multiplicar
arr2 = arr2 * 2
arr2

array([ 0,  4,  8, 12, 16, 20, 24, 28, 32, 36])

In [11]:
# tambien se operan los valores de los array
arr + arr2  # funciona con cualquie operacion aritmetica

array([ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45])

In [12]:
matriz = arr.reshape(2,5)
matriz2 = matriz.copy()

In [14]:
matriz

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [15]:
matriz + matriz2

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18]])

In [16]:
# Operacion de producto punto, hay que hacelo con la transpuesta
np.matmul(matriz,matriz2.T)

array([[ 30,  80],
       [ 80, 255]])

In [17]:
# otra manera de hacer el producto punto es usando  @

matriz @ matriz2.T

array([[ 30,  80],
       [ 80, 255]])